<% form_for @kind, :html => { :multipart => true } do |f| %>

<%= f.error_messages %>
<table>
  <tr>
    <td>
      <%= image_tag @kind.picture.url(:medium) %>
      <%= f.file_field :picture%>
      <%= f.label :scientific %>
      <%= f.text_field :scientific, :size => 35 %>
      <%= error_message_on(:kind, :scientific) %>
      <%= f.label :portugues %>
      <%= f.text_field :portugues, :size => 35 %>
      <%= error_message_on(:kind, :portugues) %>
    </td>
    <td>
      <%= f.label :description %>
      <%= f.text_area :description, :cols => 27, :rows => 21 %>
      <%= error_message_on(:kind, :description) %>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      <%= f.label :infolink %>
      <%= f.text_field :infolink, :size => 89 %>
      <%= error_message_on(:kind, :infolink) %>
     </td>
  </tr>
</table>
  
<p><%= submit_tag submit_text %></p>
  
<% end %>