<% form_for(@process_trunk) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :trunk_id %><br>
    <%= f.collection_select :trunk_id,
      Trunk.find(:all), :id, :traceable %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => "30x6" %>
  </p>
  <p>
    <%= submit_tag submit_text %>
  </p>
  
<% end %>
